.listCard {
  margin-top: 8%;
  color: var(--Gray-0);
  @media (min-width: 600px) {
    margin-top: 5%;
  }
  button {
    background-color: var(--Gray-3);
    color: var(--Gray-0);
    border: none;
    width: 32px;
    height: 32px;
  }

  ul {
    padding: 15px;
    width: 100%;
    background-color: var(--Gray-3);
    border-radius: 8px;
    margin: 0 auto;
  }
}
