:root {
  --Color-primary: #ff577f;
  --Color-primary-Focus: #ff427f;
  --Color-primary-Negative: #59323f;

  --Gray-0: #f8f9fa;
  --Gray-1: #868e96;
  --Gray-2: #343b41;
  --Gray-3: #212529;
  --Gray-4: #121214;

  --Color-Negative: #e83f5b;
  --Color-Sucess: #3fe864;

  --font-family: "Inter", sans-serif;
}
